@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Tilt+Warp&display=swap');

*{
    margin: 0px;
}
body{
    background-color: #303030;
}
.nav_link{
    list-style: none;
}
a:link{
    color: white;
}
a:hover{
    color: #F5F5F5;
}
a:visited{
    color: white;
}
.logo{
    width: 30px;
    height: 45px;
    position: relative;
    top: 10px;
    padding: 0px 0px 0px 10px;
}
.nav_link{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#links{
    padding: 5px;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    position: relative;
    top: -25px;
    right: 10px;
}
.nav{
    background-color: #FFA500;
}
.banner_pic{
    width: 1920px;
    height: 900px;
    opacity: 50%;
}
.banner{
    position: relative;
    text-align: center;
    color: white;
}
.welcome_text{
    position: absolute;
    top: 350px;
    left: 650px;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
}
#but_lin{
    text-decoration: none;
}
.about_us{
    position: absolute;
    top: 440px;
    left: 855px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #ff7b00;
    border: 0px;
    color: white;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}
#about{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 100px;
}
#top{
    font-family: 'Outfit', sans-serif;
    color: #15212f;
    position: absolute;
    top: 260px;
    left: 300px;
    right: 300px;
    text-justify: inter-word;
    text-align: justify;
    font-size: xx-large;
}
#top-2{
    font-family: 'Outfit', sans-serif;
    color: #15212f;
    position: absolute;
    top: 430px;
    left: 300px;
    right: 300px;
    text-justify: inter-word;
    text-align: justify;
    font-size: xx-large;
}
#top-3{
    font-family: 'Outfit', sans-serif;
    color: #15212f;
    position: absolute;
    top: 560px;
    left: 300px;
    right: 300px;
    text-justify: inter-word;
    text-align: justify;
    font-size: xx-large;
}
#about_background{
    position: absolute;
    top: 65px;
}
#main{
    width: 1920px;
    height: 1080px;
}
.rules{
    text-align: center;
}
#rules{
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 60px;
    position: absolute;
    top: 180px;
    left: 760px;
}
#rul_li{
    
    font-family: 'Outfit', sans-serif;
    color: white;
    position: absolute;
    top: 380px;
    left: 310px;
    display: inline-block;
    text-align: left;
    font-size: 30px;
}
.footer_home{
    font-family: 'Outfit', sans-serif;
    background-color: #ff7b00;
    height: 50px;
    color: white;
    font-size: x-large;
}

.footer_rules{
    font-family: 'Outfit', sans-serif;
    background-color: #ff7b00;
    height: 50px;
    color: white;
    font-size: x-large;
}
#watermark_hom{
    position: absolute;
    top: 987px;
    left: 820px;
}
#watermark_rul{
    position: absolute;
    top: 1170px;
    left: 820px;
}
.top_players{
    font-family: 'Tilt Warp', cursive;
    color: white;
}
#top-players{
    position: absolute;
    top: 150px;
    left: 880px;
}
#top_1{
    width: 200;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 860px;
    border: white 5px solid;
    border-radius: 110px;
    box-shadow: 0px 5px 10px black;
}
#mag{
    position: absolute;
    top: 250px;
    left: 950px;
}
#mag_name{
    position: absolute;
    top: 530px;
    left: 850px;
}
#top_2{
    width: 200;
    height: 200px;
    position: absolute;
    top: 380px;
    left: 630px;
    border: white 5px solid;
    border-radius: 110px;
    box-shadow: 0px 5px 10px black;
}
#ian{
    position: absolute;
    top: 325px;
    left: 716px;
}
#ian_name{
    position: absolute;
    top: 610px;
    left: 580px;
}
#top_3{
    width: 200;
    height: 200px;
    position: absolute;
    top: 420px;
    left: 1100px;
    border: white 5px solid;
    border-radius: 110px;
    box-shadow: 0px 5px 10px black;
}
#din{
    position: absolute;
    top: 366px;
    left: 1185px;
}
#din_name{
    position: absolute;
    top: 650px;
    left: 1125px;
}
#top_back{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}