@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Outfit:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #303030;
}
ul.nav_link{
    list-style: none;
}
a:link{
    color: white;
}
a:hover{
    color: #F5F5F5;
}
a:visited{
    color: white;
}
.logo{
    width: 30px;
    height: 45px;
    position: relative;
    top: 10px;
    padding: 0px 0px 0px 10px;
}
.nav_link{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#links{
    padding: 5px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -25px;
    right: 10px;
}
.nav{
    background-color: #FFA500;
}
.banner_pic{
    width: 1920px;
    height: 900px;
    opacity: 20%;
}
.banner{
    position: relative;
    text-align: center;
    color: white;
}
.welcome_text{
    position: absolute;
    top: 350px;
    left: 650px;
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
}
.learn_more{
    position: absolute;
    top: 440px;
    left: 855px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #FFA500;
    border: 0px;
    color: white;
    font-weight: 700;
}
#but_lin{
    text-decoration: none;
}
#top{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    position: absolute;
    top: 200px;
    left: 500px;
    right: 500px;
    text-justify: inter-word;
    text-align: justify;
    font-size: x-large;
}
#about{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    position: relative;
    text-align: center;
    top: 60px;
}
#top-2{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    position: absolute;
    top: 330px;
    left: 500px;
    right: 500px;
    text-justify: inter-word;
    text-align: justify;
    font-size: x-large;
}
#top-3{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    position: absolute;
    top: 430px;
    left: 500px;
    right: 500px;
    text-justify: inter-word;
    text-align: justify;
    font-size: x-large;
}
#list-1{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    text-justify: inter-word;
    text-align: justify;
    position: absolute;
    top: 500px;
    left: 500px;
    right: 500px;
    font-size: large;
}
#list-2{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    text-justify: inter-word;
    text-align: justify;
    position: absolute;
    top: 550px;
    left: 500px;
    right: 500px;
    font-size: large;
}
#list-3{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    text-justify: inter-word;
    text-align: justify;
    position: absolute;
    top: 600px;
    left: 500px;
    right: 500px;
    font-size: large;
}
#list-4{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    text-justify: inter-word;
    text-align: justify;
    position: absolute;
    top: 650px;
    left: 500px;
    right: 500px;
    font-size: large;
}
#top-4{
    font-family: 'Outfit', sans-serif;
    color: #F5F5F5;
    position: absolute;
    top: 710px;
    left: 500px;
    right: 500px;
    text-justify: inter-word;
    text-align: justify;
    font-size: x-large;
}